body{
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
    background-image: url(https://github.com/luddias/Portifolio/blob/main/assets/img/Picsart_23-05-08_11-47-46-205.jpg?raw=true);
    background-repeat: no-repeat;

}


/* BARRA DE NAVEGAÇÃO */
header{
  height: 5%;
  width: 100vw;
  background-color: rgba(254, 243, 255, 0.74);
  border-bottom: 1px solid rgb(0, 0, 0);
  position: fixed;
  z-index: 1;
  backdrop-filter: blur(3px);


  
}



.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0;
    height: 100%;
    width: 100%;
    z-index: 0;

}

.nav ul li{
    list-style: none;
    display: inline;
    padding: 40px;
    
}

.nav ul li a{
    color: black;
    text-decoration: none;
    display: inline-block;
    transition: 500ms linear;
    font-size: 20px;

}

.nav ul li a:hover{
    color: blueviolet;
    
}


main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* HOME */

.title{
  align-self: center;
  position: relative;
  text-align: center;
  font-family: 'Italiana', serif;
  font-size: 150px;
  color: black;

}

.data{
    transition: 300ms ease-out;
    color: black;
    border: 1px solid black;
    float: left;
    border-radius: 30px;
    padding: 8px 25px;
    font-size: 18px;
    margin-left: 20px;

}

.curriculo{
    transition: 300ms ease-out;
    color: black;
    border: 1px solid black;
    border-radius: 30px;
    padding: 8px 25px;
    font-size: 18px;
    float: right;
    margin-right: 20px;
}

.curriculo:hover, .data:hover{
    border-color: blueviolet;
    color: blueviolet;
}

.subtitle{
  text-align: center;
  padding: 0 8px 8px 0;
  font-size: 20px;

}


.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;

    gap: 150px;
   
}

.title_div{
    position:relative;
    margin-top: 20%;
}



/* Animação scroll (Créditos: Yurij Rightblog.ru)*/


*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; --top-color: black;
   }
  
  
  .mouse_scroll {
      
      display:block;
      position: relative;

  }
  
  .mouse_scroll:hover .mouse, .mouse_scroll:hover .mouse .wheel,.mouse_scroll:hover .m_scroll_arrows {
      --top-color: blueviolet;

  }
  
  .m_scroll_arrows
  {
    transition: 500ms linear;
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
     
    border-right: 2px solid var(--top-color);
    border-bottom: 2px solid var(--top-color);
    margin: 0 0 3px 4px;
    
    width: 16px;
    height: 16px;
  }
  
  
  .unu
  {
    margin-top: 1px;
  }
  
  .unu, .doi, .trei
  {
      -webkit-animation: mouse-scroll 1s infinite;
      -moz-animation: mouse-scroll 1s infinite;
      animation: mouse-scroll 1s infinite;
    
  }
  
  .unu
  {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;
    
    animation-direction: alternate;
    animation-delay: alternate;
  }
  
  .doi
  {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
    
    animation-delay: .2s;
    animation-direction: alternate;
    
    margin-top: -6px;
  }
  
  .trei
  {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -webkit-animation-direction: alternate;
    
    animation-delay: .3s;
    animation-direction: alternate;
    
    
    margin-top: -6px;
  }
  
  .mouse {
    transition: 500ms linear;
    height: 42px;
    width: 24px;
    border-radius: 14px;
    transform: none;
    border: 2px solid var(--top-color);
    top: 170px;
  }
  
  .wheel {
    transition: 500ms linear;
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: var(--top-color);
    position: relative;
    
    height: 4px;
    width: 4px;
    border: 2px solid var(--top-color);
    -webkit-border-radius: 8px;
            border-radius: 8px;
  }
  
  .wheel {
    -webkit-animation: mouse-wheel 0.6s linear infinite;
    -moz-animation: mouse-wheel 0.6s linear infinite;
    animation: mouse-wheel 0.6s linear infinite;
  }
  

  @-webkit-keyframes mouse-wheel{
     0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  
    100% {
      opacity: 0;
      -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  @-moz-keyframes mouse-wheel {
    0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
  }
  @-o-keyframes mouse-wheel {
  
     0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
  }
  @keyframes mouse-wheel {
  
     0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
  }
  
  @-webkit-keyframes mouse-scroll {
  
    0%   { opacity: 0;}
    50%  { opacity: .5;}
    100% { opacity: 1;}
  }
  @-moz-keyframes mouse-scroll {
  
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
  }
  @-o-keyframes mouse-scroll {
  
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
  }
  @keyframes mouse-scroll {
  
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
  }


  
  /* TELA SOBRE MIM */

  .sobremim_div{
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;


    

}

h2 {
  width: 70%;

  text-align: left;
  font-size: 72px;
  font-family: 'Birthstone Bounce', cursive;
  background: linear-gradient(to right, #000000 20%, rgb(125, 33, 230) 40%, rgb(142, 64, 214) 60%, #4e1d64 80%, black 100%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 5s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}


.conteudo{
  padding-top: 30px;
  display: flex;
  width: 70%;
  position: relative;
  column-count: 2;
  column-gap: 3rem;

  
}

.perfil{
  width: 15%;

}

.apresentacao{
  width: 70%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 20px;
  gap: 20px;
}

.minha_desc{
  width: 65%;
  border:black solid 1px;
  border-radius: 30px;
  padding: 20px;
}

.dados{
  line-height: 1.25rem;
  width: 20%;

}

.cat_titulo{
  font-family: 'Italiana', serif;;
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
  
}

.topicos{
  font-weight: bold;
  font-size: 20px; 
  padding-top: 10px;
}

.desc_comp{
  font-size: 15px; 

}

.categoria{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sessao{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sessao_dois, .sessao_um{
  width: 37.5%;
}

.sessao_tres{
  width: 25%;
}

.interesses img{
  width: 80px;
}

b{
  font-weight: bold;
}

.competencias img{
  width: 40px;
}

.lista li{
    list-style: none;
    display: inline-flex;
    word-break: break-word;
    padding-top: 15px;

    
}

.competencias li, .interesses li{
  flex-direction: column;
  word-break: break-word;
  align-items: center;
  gap: 15px;
  text-align: center;
}

.competencias li{
    width: 80px;
}

.interesses li{
    width: 100px;
    
}

.interesses{
    column-width: 5.1em;
}

.contatos li{
    gap: 5px;
}

.linguas li{
    flex-direction: column;
    gap: 5px;
}

.linguas{
    display: flex;
    flex-direction: column;
    text-align: left;
}


